@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    position: relative;
    margin: 0;
}

.card{
	border: none !important;
}

.card1{
	padding: 30px 100px;
}

.logo{
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 2.5px;
	margin-bottom: 0px;
	margin-top: 5px;
}

.o{
	font-weight: lighter;
	color: grey;
	font-size: 2.5rem;
}

.main-text{
	padding-top: 50px;
	font-size: 4rem;
	letter-spacing: 8px;
	font-weight: medium;
}

.main-text span{
	font-weight: lighter;
	color: grey;
}

.para-text{
	padding-top: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.btn-toolbar{
	padding-top: 20px;
	text-align: center;
	margin-left: 25%;
}

input{
	border-radius: 25px 0 0 25px!important;
}

.input-group-text{
	border-radius: 0 25px 25px 0!important;
}

@media(max-width: 1200px){
  .card2{
  	display: none !important;
  }
}

@media(max-width: 550px){
  .main-text{
	font-size: 3.5rem;
  }
}

@media(max-width: 515px){
  .main-text{
	font-size: 3.0rem;
  }
  .card1{
	padding: 30px 30px;
  }
}

@media(max-width: 340px){
  .main-text{
	font-size: 2.5rem;
  }
  .para-text{
  	font-size: 1.5rem;
  }
  .card1{
	padding: 30px 15px;
  }
}